<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14634099103-49vla2iok1dqcd3rc8i5ekm603od3v1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14634099103-49vla2iok1dqcd3rc8i5ekm603od3v1m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>14634099103-e1o71rr11qkape3gslka0d7d62f6jr4t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACkgCBefJvqkkZh56fyw78PyQItqeF6fw</string>
	<key>GCM_SENDER_ID</key>
	<string>14634099103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.majidalbana.app</string>
	<key>PROJECT_ID</key>
	<string>majidalbana-c2da3</string>
	<key>STORAGE_BUCKET</key>
	<string>majidalbana-c2da3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14634099103:ios:9b4b01c818f8c7b63d1daa</string>
</dict>
</plist>