/.gradle/
/.kotlin/
/build/
/captures/
.cxx/
*.iml
/local.properties
GeneratedPluginRegistrant.java

# لا ترفع ملفات التوقيع للعامة. Google Play يعتمد عليها، لكن مكانها مو GitHub.
key.properties
**/*.keystore
**/*.jks
